h1 {
    color: rgb(119, 214, 151);
}

ul {
    padding: 20px;
    font-size: 15px;
}

.reservation {
    text-align: left;
    width: 90%;
    background-color: rgb(206, 206, 206);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    font-size:  18px;
}

.reservation-button {
    background-color: rgb(206, 206, 206);
    font-weight: bold;
    border: none;
}

.reservation-text {
    background-color: rgb(206, 206, 206);
    margin: 10px;
}

.logout-button {
    position: absolute;
    right: 10em;
}
