<h1> Welcome to the main page of the LMS </h1>

<br />
<br />

<h2> Click below to list all hotels </h2>
<form method="GET">
    {% csrf_token %}
    <input type="submit" name="list_hotels" value="list the hotels"/>
</form>
{% for hotel in hotels %}
<p>{{ hotel }}</p>
{% endfor %}

<h2> Click below to list all reservations </h2>
<form method="GET">
    {% csrf_token %}
    <input type="submit" name="list_reservations" value="list the reservations"/>
</form>
{% for reservation in reservations %}
<p>{{ reservation }}</p>
{% endfor %}

<h2> Click below to list all features </h2>
<form method="GET">
    {% csrf_token %}
    <input type="submit" name="list_features" value="list the features"/>
</form>
{% for feature in features %}
<p>{{ feature }}</p>
{% endfor %}

<h2> Edit the form to add a feature </h2>
<form method="POST">
    {% csrf_token %}
    <label for="feature_id">Feature id:</label><br>
    <input type="text" name="feature_id"/><br>

    <label for="feature">Feature name:</label><br>
    <input type="text" name="feature"/><br>

    <label for="price">Price:</label><br>
    <input type="text" name="price"/><br>

    <label for="description">Description:</label><br>
    <input type="text" name="description"/><br>

    <input type="submit" value="Submit"/><br>
</form>


